.admin-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.add-medicine-form{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}